@charset "UTF-8";

body {
	background-color: SeaShell;
}

.underline {
	text-decoration: underline;
}

.no-underline {
	text-decoration: none;
}

.text-danger { color: #dc3545; } 

.centered-form {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
	margin-top: 20px;
}

.table-hover tbody tr {
  height: 48px;
  vertical-align: middle;
}

.table-hover tbody tr:hover {
  background-color: #d7f3c2 !important; /* MSFG-friendly green */
  cursor: pointer;
  box-shadow: 0 0 10px rgba(140, 198, 62, 0.6);
}

.table-custom-size th,
.table-custom-size td {
  font-size: 1rem; /* ~16px */
  padding: 0.75rem; /* ~12px */
  word-break: break-word;
}

.glow-btn {
	display: inline-block;
	padding: 12px 24px;
	font-size: 12px;
	color: #fff;
	background-color: #008f51;
	border: 2px solid #00f900;
	border-radius: 8px;
	text-shadow: 0 0 5px #8cc63e;
	box-shadow: 0 0 8px #8cc63e, 0 0 16px #4b7b4d, 0 0 24px #104547;
	transition: all 0.3s ease-in-out;
}

.nav-link {
	color:  #008f51;
	}

.nav-link:hover {
	color:#00f900;
	}

.nav-pills .nav-link.active {
  background-color: #008f51;
  color: #fff;
  display: inline-block;
padding: 12px 24px;
  font-weight: bold;
  border: 3px solid #fefb00;
  text-shadow: 0 0 7px #fefc78;
  box-shadow: 0 0 9px #d4fb78, 0 0 18px #4b7b4d, 0 0 26px #104547;
  transition: all 0.3s ease-in-out;
}
.glow-btn-status {
	display: inline-block;
	padding: 12px 24px;
	font-size: 12px;
	color: #fff;
	background-color: #008f51;
	border: 3px solid #fefb00;
	border-radius: 8px;
	text-shadow: 0 0 7px #fefc78;
	box-shadow: 0 0 9px #d4fb78, 0 0 18px #4b7b4d, 0 0 26px #104547;
	transition: all 0.3s ease-in-out;
	
}
	
.delete {
	background-color: #ff2600;
}

.glow-btn:hover {
	box-shadow: 0 0 12px #8cc63e, 0 0 24px #4b7b4d, 0 0 32px #104547;
	transform: scale(1.05);
}

.outer-table {
	border-collapse: collapse;
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
	margin-top: 20px;
}
#results {
  max-width: 60rem; /* ~960px */
  margin: auto;
}
.spacing {
	margin: 20	px;
}